@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(fonts/Roboto-Regular.ttf) format("truetype");
}
body {
  font-family: Roboto;
  color: white;
  background: #111111;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #bbb;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.intro-wrapper {
  display: flex;
  flex-direction: column;
}

.intro-input {
  display: flex;
  padding: 20px 0 0 0;
}
.intro-input select {
  width: 240px;
  height: 60px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-color: #333333;
  font-size: 16px;
  border-radius: 10px;
  overflow-y: hidden;
  text-align: center;
}
.intro-input button {
  width: 240px;
  height: 60px;
  background: #333333;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  margin: 0 0 0 20px;
  border: none;
}
.intro-input button:hover,
.topic-buttons button:hover,
.learn-input button:hover,
.speaker-input button:hover {
  cursor: pointer;
  background: #555555;
}

.topics {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-template-rows: 60px 60px 60px;
  gap: 20px;
  margin-top: 20px;
}
.fame {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-template-rows: 60px;
  gap: 20px;
  margin-top: 20px;
}
.topics button,
.fame button {
  width: 240px;
  height: 60px;
  background: #333333;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  border: none;
}

.learn-input input,
.speaker-input input {
  width: 320px;
  height: 20px;
  border: none;
  background: #444444;
  outline: none;
  font-size: 16px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin: 0 6px 0 0;
}
.learn-input button,
.speaker-input button {
  width: 120px;
  height: 40px;
  background: #333333;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  border: none;
}
.learn-input button:last-child,
.speaker-input button:last-child {
  margin-left: 6px;
}

.speaker-wrapper,
.learn-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.speaker-nav,
.learn-nav {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh - 56px);
  width: 250px;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
}
.speaker-span-radio {
  width: 240px;
  height: 60px;
  background: #333333;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  border: none;
}
.speaker-span-radio:hover {
  background: #aaaaaa;
  cursor: pointer;
}
.speaker-span-radio input[type="radio"] {
  display: none;
}
.speaker-span-radio:has(input[type="radio"]:checked) {
  background: #555555;
}
.speaker-span-radio:not(:last-child) {
  margin-bottom: 10px;
}
.speaker-span-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.speaker-view,
.learn-view {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.chat-response,
.speaker-response {
  width: 560px;
  height: calc(100vh - 146px);
  background: #222222;
  margin: 10px 0 0 0;
  border-radius: 10px;
  padding: 20px;
}
